In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../Data/Data/Strata_Train_NPS_cases/Train_NPS_evlog.csv")
print(len(df))
df.head()

5456

,case_id,case_type,task_id,task_tasksubtype,ressource,ressource_role,case_owner_role,case_topic,case_requires_rework__c,case_closure_code__c,...,task_count,task_number,date_case_created,date_case_closed,date_task_created,year,month,day,weekday,hour
0,1485898,Service Request,1,Email,y_7,b_1,b_1,d_2,False,Changed subscription,...,2,1,2018-02-12 11:40:54,2018-02-18 23:01:09+00:00,2018-02-12 11:42:22+00:00,2018,2,12,0,11
1,1485898,Service Request,2,Email,y_7,b_1,b_1,d_2,False,Changed subscription,...,2,2,2018-02-12 11:40:54,2018-02-18 23:01:09+00:00,2018-02-12 11:57:20+00:00,2018,2,12,0,11
2,1491822,Service Request,5,Email,y_9,i_1,i_1,d_2,False,Information/guidance given,...,3,1,2018-02-20 10:17:59,2018-03-05 23:00:51+00:00,2018-02-20 10:20:20+00:00,2018,2,20,1,10
3,1491822,Service Request,10,Email,y_9,i_1,i_1,d_2,False,Information/guidance given,...,3,2,2018-02-20 10:17:59,2018-03-05 23:00:51+00:00,2018-02-21 11:19:09+00:00,2018,2,21,2,11
4,1491822,Service Request,19,Email,y_9,i_1,i_1,d_2,False,Information/guidance given,...,3,3,2018-02-20 10:17:59,2018-03-05 23:00:51+00:00,2018-02-23 10:30:44+00:00,2018,2,23,4,10

In [4]:
df.columns

Index(['case_id', 'case_type', 'task_id', 'task_tasksubtype', 'ressource',
       'ressource_role', 'case_owner_role', 'case_topic',
       'case_requires_rework__c', 'case_closure_code__c',
       'case_milestonestatus', 'case_resolution_time__c', 'nps_createddate',
       'nps_response_complete', 'nps_promoter', 'nps_detractor',
       'nps_response_value', 'task_count', 'task_number', 'date_case_created',
       'date_case_closed', 'date_task_created', 'year', 'month', 'day',
       'weekday', 'hour'],
      dtype='object')

## Split the data

In [3]:
#make a holdout sample

from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(df, test_size=0.3)#, random_state=42)

# 1. Case topic distribution

In [7]:
X_train.case_topic.value_counts()/len(X_train)

j_1    0.318670
z_3    0.243781
q_3    0.138256
z_2    0.066510
r_2    0.064415
z_4    0.063891
d_2    0.039277
w_2    0.037968
g_1    0.014925
w_1    0.012307
Name: case_topic, dtype: float64

In [11]:
len(X_train.case_topic.value_counts()/len(X_train))

10

In [8]:
X_test.case_topic.value_counts()/len(X_test)

j_1    0.328650
z_3    0.246793
q_3    0.138668
r_2    0.067807
z_2    0.061087
z_4    0.054368
w_2    0.042761
d_2    0.033598
g_1    0.014661
w_1    0.011607
Name: case_topic, dtype: float64

In [12]:
len(X_test.case_topic.value_counts()/len(X_test))

10

# 2. Ressource

In [10]:
X_train.ressource.value_counts()/len(X_train)

h_4    0.087981
w_7    0.085886
p_5    0.067819
l_6    0.056559
n_5    0.042419
         ...
d_1    0.000262
y_3    0.000262
c_2    0.000262
f_4    0.000262
g_9    0.000262
Name: ressource, Length: 77, dtype: float64